INSTALL
install-sh
missing
compile
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
glibc*
*.tar.gz
*.sig
*.map
mapconv
m17n-db
BIDI.tab
CASE-C.tab
CASE-MAPPING.tab
CASE-S.tab
CASED.tab
CATEGORY.tab
COMBINE.tab
LINEBREAK.tab
LANGUAGE.tbl
LANGNAME.en
LANGNAME.fr
NAME.tab
SCRIPT.tab
SOFT-DOTTED.tab
m17n-db.pc
po/Makevars.template
*~
